* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4478ff;
  --secondary: #87ff7c;
  --dark: #0c152d;
  --light: #f8faff;
}

html {
  font-family: "Futura Bk BT";
}

/* =========
      Navigation
    =========== */
nav {
  padding: 2.5rem 6.44vw 0 6.44vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  width: 54.185%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Futura Lt BT";
  list-style: none;
}

.nav-links li {
  position: relative;
}

.nav-links li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5%;
  border-radius: 5px;
  background: var(--dark);
  transition: all 250ms ease-in-out;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-links li a {
  color: var(--dark);
  font-size: 2rem;
  text-decoration: none;
}

/* Only shown in mobile */
#nav-burger,
#nav-close,
#nav-overlay {
  display: none;
}

#nav-close {
  width: 8%;
}

/* =========
 Main Content
=========== */
main {
  width: 100%;
  padding: 0 6.302vw;
  padding-top: 7.87vh;
}

.projects__title {
  font-size: 6rem;
  margin-bottom: 7.87vh;
}

.projects__list__titles {
  margin-bottom: 7.87vh;
}

.projects__list__titles__title {
  font-size: 4rem;
}

.projects__list__titles__desc {
  font-size: 2rem;
}

.projects__list__cards {
  width: auto;
  height: 31.25rem;
  margin-bottom: 12.129vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.125vw;
}

.projects__list__cards__card {
  width: 25rem;
  height: 100%;
  background: var(--light);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.projects__list__cards__card__image {
  width: 100%;
  height: 60%;
  background: lightblue;
}

.projects__list__cards__card__title {
  font-size: 2rem;
  font-family: "Futura Hv BT";
}

.projects__list__cards__card__desc {
  width: 72.25%;
  height: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  margin: auto 0;
}

.projects__list__cards__card__buttons {
  width: 100%;
  height: 60.465%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.projects__list__cards__card__button {
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-decoration: none;
}

.projects__list__cards__card__button--github {
  min-width: 43.75%;
  background: var(--dark);
}

.projects__list__cards__card__button--live {
  min-width: 46.875%;
  background: var(--primary);
}

.projects__list__cards__card__button span {
  font-size: 1.25rem;
  color: var(--light);
}

/* Large - 1600, 1536 */
@media only screen and (max-width: 100em) {
}

/* Medium - 1440, 1366, 1280 */
@media only screen and (max-width: 85.375em) {
  .nav-links li a {
    font-size: 1.75rem;
  }
}

/* Small - 1024x768 */
@media only screen and (max-width: 64em) {
  .nav-links {
    width: 65%;
  }
}

/* Height < 768 */
@media only screen and (max-height: 48em) {
}

/* Tablet - 768x1024 */
@media only screen and (max-width: 48em) {
  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    background: white;
    box-shadow: -10px 0 50px 10px rgba(12, 21, 45, 0.25);
    transition: all 250ms ease-in-out;
    z-index: 2;
    overflow: hidden;
  }

  #nav-burger {
    height: 3.3125rem;
    display: block;
    cursor: pointer;
  }

  #nav-close {
    position: absolute;
    top: 5%;
    left: 15%;
    display: block;
  }

  #nav-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(12, 21, 45, 0.25);
    z-index: 1;
  }
}

/* Phone - 360x640 */
@media only screen and (max-width: 22.5em) {
  nav {
    padding: 2.5rem 9.17vw 0 9.17vw;
  }

  .nav-logo,
  #nav-burger {
    height: 2rem;
  }

  #nav-close {
    width: 12%;
  }
}
